h1 {
   color: blue; 
}

.container {
    width:95%;
    margin: auto;
    text-align: center;
}

.loginAndCreateAccount {
    margin: 2rem auto;
    width:400px;
    text-align: start;
}

.loginAndCreateAccount label {
    display: block;
    font-weight: bold;
}

.loginAndCreateAccount input {
    display: block;
    width: 100%;
    margin: 0.5rem 0;
    border: 2px solid hsl(0, 0%, 90%);
    border-radius: 0.5rem;
    padding: 0.3rem 0.5rem;
}

.loginAndCreateAccount input:active, .loginAndCreateAccount input:focus{
    background: transparent;
    border-color: grey;
    outline: none;
}

.loginAndCreateAccount .form-actions {
    width: 105%;
    display: flex;
    justify-content: end;
    gap:1rem;
}

.loginAndCreateAccount .form-actions button {
    border: none;
    padding: 0.5em 1rem;
    background: transparent;
    color:blueviolet;
    cursor: pointer;
}

.loginAndCreateAccount .form-actions .active {
    background: blue;
    border-radius: 10px;
    color:white;
}